.content-about {
    width: 95vw;
    height: 88vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--preto-translucido);
    border-radius: 60px;
    margin-bottom: 25vh;
}

.content-about-img {
    width: 36%;
    height: 75%;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: var(--cor-principal);
    border-radius: 50%;
    box-shadow: 0 0 500px var(--cor-principal-translucida)
}

.content-about-img img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.content-about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 50%;
    margin-right: 42px;
}

.content-about-text-h2 {
    font-size: 3.9vw;
    font-weight: 400;
    margin-bottom: 0;
}

.content-about-text-h3 {
    color: var(--cor-principal);
    font-size: .9vw;
    margin-top: 0;
}

.content-about-text-p {
    font-size: 1.3vw;
    font-weight: 400;
    margin: 15px 0;
}

@media (max-width: 430px) {
    .content-about {
        flex-direction: column;
        justify-content: space-evenly;
        height: 110vh;
    }

    .content-about-img {
        margin: 0 auto;
        width: 94%;
        height: 36%;
    }

    .content-about-text {
        width: 100%;
        text-align: center;
    }

    .content-about-text-h2 {
        font-size: 3rem;
    }

    .content-about-text-h3 {
        font-size: .69rem;
    }

    .content-about-text-p {
        font-size: 1.05rem;
        margin: 9px 0;
    }
}