.Content-footer{
    width: 99.8%;
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #c1c1c1;
    font-family: 'releway', sans-serif;
    text-align: center;
}
.Content-footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Content-footer hr{
    width: 100%;
    border: 1px solid #21212155;
}
.Content-footer-copy{
    font-size: .9vw;
    margin-bottom: 1vh;
}