.App-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 99.9%;
    height: 7vh;
    border-bottom: 1px solid var(--cinza-medio);
}
.App-logo {
    height: 7vh;
    pointer-events: none;
    width: 9vh;
    margin-left: 6vw;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.App-header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Links-header{
    color: var(--branco);
    display: flex;
    margin: auto 0;
    margin-right: 6vw;
}

.Links-header li a{
    margin: auto 1vw;
    color: var(--branco);
    text-decoration: none;
}
.Links-header li a:hover{
    border-bottom: 2.1px solid var(--cor-principal);
}
.Links-header-text{
    font-size: 1.4vw;
}
