.technology-card{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
}
.technology-card-hover {
    transform: scale(1.05);
    opacity: 1;
    z-index: 1;
}

.technology-card-not-hover {
    transform: scale(0.85);
    opacity: 0.4;
}

.technology-card h3{
    font-size: 2vw;
    font-weight: bold;
    margin: 9px 0 18px 0;
}

.technology-card p{
    font-size: 1.2vw;
    
}
.technology-card img{
    width: 35%;
    height: 40%;
    transition: transform 1.5s ease;
}

.flipped {
    transform-style: preserve-3d;
    transform: rotateY(360deg); /* Gira o elemento em 360 graus */
}