.Content-Infos-text-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto 1.2vh;
}
.Content-Infos-text-info img{
    margin-right: 1vh;
    height: 2.7vh;
    width: 2.1vh;
}
.Content-Infos-text-info-p{
    font-size: 1.11vw;
    margin: auto 0;
}