.Content-Infos-text-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Content-Infos-text-info img {
    margin-right: 1vh;
    height: 2.7vh;
    width: 2.1vh;
}

.Content-Infos-text-info-p {
    font-size: 1.11vw;
    margin: auto 0;
}

@media (max-width: 430px) {
    .Content-Infos-text-info-p {
        font-size: 1.2rem;
    }
}

@media (min-width: 431px) and (max-width: 1024px) {
    .Content-Infos-text-info-p {
        font-size: 1.29rem;
    }
}