.content-about{
    width: 95vw;
    height: 88vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #11111166;
    border-radius: 60px;
    font-family: 'releway', sans-serif;
    margin-bottom: 25vh;
}

.content-about-img{
    width: 36%;
    height: 75%;
    display: flex;
    justify-content: center;
    margin: auto ;
    background-color: #55c9f6;
    border-radius: 50%;
    box-shadow: 0 0 500px #55c9f699
}

.content-about-img img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.content-about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 50%;
    margin-right: 42px;
}

.content-about-text h2{
    font-size: 3.9vw;
}

.content-about-text h3{
    color: #55c9f6;
    font-size: .9vw;
}

.content-about-text p{
    font-size: 1.32vw;
    font-weight: 400;
    margin: 12px 0;
}