.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar {
    background-image: linear-gradient(to bottom, #00001f, #000000);
    width: 6.6px;
}

::-webkit-scrollbar-thumb {
    background-color: #2191ffaa;
    border-radius: 6px;
}