a{
    margin: 0;
}
.content-cardCourses {
    background-color: #050505;
    width: 21%;
    padding: 1.5vh;
    border-radius: 6px;
    border: 1.5px solid #4d4f53;
}
.content-cardCourses:hover{
    border-color: #55c9f6;
}

.content-cardCourses h3{
    color: #dfdfdf;
    font-size: 1.12vw;
}
.content-cardCourses-p{
    margin: 1.2vh 0;
    font-size: 1.12vw;
    font-weight: bold;
    color: #fff;
}
.content-cardCourses-p small{
    font-weight: 200;
    color: #919191;
}

.content-cardCourses span {
    color: #919191;
    font-size: 1vw;
}