.imgSlider {
    height: 77vh;
    border-radius: 33px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: start;
}

.imgSlider h3 {
    font-size: 3vw;
    background-color: #111111dd;
    border-radius: 18px;
    padding: 0 18px 9px;
    font-weight: bold;
}

.carousel-caption {
    background-color: #111111dd;
    border-radius: 18px;
    padding: 18px;
    width: 80%;
    right: 10%;
    left: 10%;
}



.carousel-caption h4 small {
    font-size: .9vw;
    font-weight: 200;
}

.carousel-caption div {
    display: flex;
    justify-Content: space-between;
    align-items: center;
}

.isMobile {
    display: none;
}

.carousel-caption span {
    font-size: 1vw;
    font-weight: 400;
}

@media (max-width: 430px) {
    .imgSlider {
        height: 75vh;
        border-radius: 42px;
        background-size: contain;
    }

    .imgSlider h3 {
        font-size: 2.7rem;
    }

    .carousel-caption {
        width: 93%;
        right: 3.5%;
        left: 3.5%;
    }

    .carousel-caption h4 {
        font-size: .9rem;
    }

    .carousel-caption h4 small {
        font-size: .6rem;
    }

    .carousel-caption span {
        font-size: 1rem;
    }
}