.App-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 99.9%;
    height: 7vh;
    border-bottom: 1px solid #ffffff20;
}
.App-logo {
    height: 6vh;
    pointer-events: none;
    width: 7.6vh;
    margin-left: 6vw;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Links-header{
    color: #efefef;
    display: flex;
    flex-direction: row;
    margin-right: 6vw;
}

.Links-header li a{
    margin: 0 1vw;
}
.Links-header li a:hover{
    border-bottom: 1px solid #55c9f6;
}
.Links-header-text{
    font-size: 1.4vw;
}
