.content-courses {
    width: 95vw;
    display: flex;
    flex-direction: column;
    background-color: #11111199;
    border-radius: 60px;
    font-family: 'releway', sans-serif;
    margin-bottom: 25vh;
}

.content-courses h2 {
    font-size: 5.4vw;
    font-weight: bold;
    margin: 1vh 10%;
}

.content-courses h2 span {
    color: #55c9f6;
}

.content-courses-menu hr {
    width: 100%;
    margin: 0 0 12px 0;
    background-color: #99999944;
    height: 1.2px;
    border: none;
    opacity: 1;
}

.content-courses .cards {
    margin: 1vh 9%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0;
}

.content-courses-menu {
    margin: 1vh 10%;
}

.content-courses-menu button {
    font-size: 1.5vw;
    margin-right: 63px;
}

.content-courses-menu button:active {
    background-color: #55c9f622;
    border-radius: 6px;
}

.content-courses-menu-active {
    color: #55c9f6;
    border-bottom: 3px solid #55c9f6;
}