.content-courses{
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #99999933;
    border-radius: 60px;
    font-family: 'releway', sans-serif;
    margin-bottom: 25vh;
}
.content-courses h2{
    font-size: 3.2vw;
    font-weight: bold;
    margin: 1vh 15%;
}
.content-courses h2 span{
    color: #55c9f6;
}

.content-courses-row{
    margin: 1vh 15%;
}