.content-cardCourses-books {
    background-color: #020202;
    width: 20.1%;
    padding: 1.2vh 2.1vh;
    border-radius: 6px;
    border: 1.5px solid var(--cinza-medio);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin-right: 33px;
}

.content-cardCourses-books:hover {
    border-color: var(--cor-principal);
}

.content-cardCourses-books h3 {
    color: var(--branco);
    font-size: 1vw;
    height: 6.9vh;
}

.content-cardCourses-books hr {
    margin: 0 0 9px;
    color: var(--cinza);
    border: .9px solid var(--cinza);
    border-radius: 50%;
}

.content-cardCourses-books:hover hr {
    color: var(--cor-principal);
    border-color: var(--cor-principal);
}

.content-cardCourses-books img {
    width: 100%;
    margin: auto;
    height: 30vh;
    box-shadow: .9px .9px 9px var(--cinza-medio)
}

.content-cardCourses-books:hover img {
    scale: 1.041;
}

@media (max-width: 430px) {
    .content-cardCourses-books {
        width: 48.2%;
        padding: 1.2vh 2.1vh;
        margin: 0;
    }

    .content-cardCourses-books h3 {
        font-size: .78rem;
    }

    .content-cardCourses-books img {
        height: 21vh;
    }
}