.content-cardCourses {
    background-color: #020202;
    width: 23%;
    padding: 1.5vh;
    border-radius: 6px;
    border: 1.5px solid var(--cinza-medio);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
}
.content-cardCourses:hover{
    border-color: var(--cor-principal);
}

.content-cardCourses h3{
    color: var(--cinza);
    font-size: 1.23vw;
}
.content-cardCourses-p{
    font-size: 1.32vw;
    font-weight: bold;
    color: var(--branco);
    text-align: start;
}
.content-cardCourses-p small{
    font-weight: 200;
    color: var(--cinza);
    font-size: 1.11vw;
}

.content-cardCourses span {
    color: var(--cinza);
    font-size: 0.9vw;
}