.content-cardTecnologo {
    background-color: #020202;
    width: 48.66%;
    padding: 1.5vh 2.1vh;
    border-radius: 6px;
    border: 1.5px solid var(--cinza-medio);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
}
.content-cardTecnologo:hover{
    border-color: var(--cor-principal);
}

.content-cardTecnologo h3{
    color: var(--cinza);
    font-size: 1.2vw;
    margin: 0;
}
.content-cardTecnologo-p{
    margin: 0 0 1vh 0;
    font-size: 1.8vw;
    font-weight: 700;
    margin: 6px 0;
    color: var(--branco);
}
.content-cardTecnologo-p small{
    font-weight: 200;
    color: var(--cinza);
    font-size: 1.2vw;
}

.content-cardTecnologo span {
    color: var(--cinza);
    font-size: 1vw;
    margin-top: 1.2vh;
}