.Content-Infos-form{
    text-align: start;
    display: flex;
    margin-top: 2vh;
    font-size: 1.1vw;
}
.Content-Infos-form legend{
    margin-bottom: .5vh;
}

.Content-Infos-form-div{
    border: 2px solid #2191ff;
    border-radius: 8px;
    display: flex;
    box-sizing: border-box;
}
.Content-Infos-form-div input{
    border-radius: 6px 0 0 6px;
}
.Content-Infos-form-div button{
    background-color: #2191ff;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 0 6px 6px 0;
}