#root{
  background-image: linear-gradient(97.54deg, #000000 35.49%, #00001f 165.37%);
  font-family: 'releway', sans-serif;
  height: 100%;
  color: white;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
::-webkit-scrollbar{
  background-image: linear-gradient(to bottom, #000000, #00001f);
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #2191ffaa;
  border-radius: 6px;
}
::-webkit-scrollbar:hover {
  width: 10px;
}