.scrollUp-Btn {
    width: 75px;
    height: 75px;
    background: var(--preto);
    box-shadow: 0px 0px 39px 0px rgba(150, 150, 150, 150);
    opacity: .8;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 1.2vw;
    bottom: 4.5vh;
    border: none;
    z-index: 3;
}

.scrollUp-Btn.visible {
    display: none;
}

.scrollUp-arrow path {
    fill: var(--branco);
}

.scrollUp-text {
    font-size: 1rem;
    position: absolute;
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -42px;
    opacity: 0;
    transition-duration: .7s;
}

.scrollUp-Btn:hover .scrollUp-text {
    opacity: 1;
    transition-duration: .7s;
}

.scrollUp-Btn:hover .scrollUp-arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 430px) {
    .scrollUp-Btn {
        display: none;
    }
}